<div id="header">
	
	<div id="logo">
    <h1><a href="/"><span>iPhotographisme</span></a></h1>
  </div>

	<div id="nav">
		<div class="category">
			<%= form_tag('/pictures') do %>
				<%= label_tag "Catégorie" %>
				<%= select_tag "Catégorie", options_from_collection_for_select(@categories, "id", "name"), {include_blank: true} %>
			<% end %>
		</div>
	</div>

</div>

<div id="content">

	<div class="navigation">
			<p class="previous"><a href="#">Previous</a></p>
	</div>

	<% @pictures.each do |picture| %>
		<div class="view" style="background: url('<%= picture.resized_picture_path %>'); width: <%= picture.resized_width %>px">
					<p>
						<a href="<%= picture.original_picture_path %>" title="<%= picture.name %>" rel="prettyPhoto">
							<img src="<%= picture.original_picture_path %>" alt="<%= picture.name %>" width="<%= picture.original_width %>" height="<%= picture.original_height %>" />
						</a>
						<span class="loveoff"><a href="#"></a></span>
					</p>
		</div>
	<% end %>

	<div class="navigation">
			<p class="next"><a href="#">Next</a></p>
	</div>

</div>



