<div id="header">
	
	<div id="logo">
    <h1><a href="/"><span>iPhotographisme</span></a></h1>
  </div>

	<div id="nav">
		<div class="category">
			<%= form_tag('/', id: 'cat_form', :method => :get) do %>
				<%= label_tag "category" %>
				<%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), {include_blank: true} %>
			<% end %>
		</div>
	</div>

</div>

<div id="content">

	<% if @pictures.previous_page %>
		<div class="navigation">
			 <p class="previous"><%= link_to "Previous", params.merge(:page => @pictures.previous_page) %></p> 
		</div>
	<%end%>

	<% @pictures.each do |picture| %>
		<div class="view" style="background: url('<%= picture.resized_picture_path %>'); width: <%= picture.resized_width %>px">
					<p>
						<a href="<%= picture.original_picture_path %>" title="<%= picture.name %>" class="fancybox" rel="gallery">
							<img src="<%= picture.resized_picture_path %>" alt="<%= picture.name %>" width="<%= picture.original_width %>" height="<%= picture.original_height %>" />
						</a>
					</p>
		</div>
	<% end %>

	<% if @pictures.next_page %>
		<div class="navigation">
			 <p class="next"><%= link_to "Next", params.merge(:page => @pictures.next_page) %></p> 
		</div>
	<%end%>

</div>

<div id="footer">
	<p>Created by <a href="http://www.thibaultbene.fr">Thibault Béné</a><br />
	© 2010 iPhotographisme © Thibault Béné <br /></p>
</div>


